.characterCardContainer {
    display: inline-flex;
    margin: auto;
}

.characterCard {
    text-align: center;
    width: 325px;
    max-height: 425px;
    float: left;
    margin: 0.5vw;
}

.cardButton {
    margin-top: 1vh;
}