.CharacterList {
    overflow-x: hidden;
    background-color: whitesmoke;
    text-align: center;
}
.SearchBar {
    width: 75vw;
    background-color: white;
}
.SearchBarContainer{
    margin-top: 2vh;
    margin-bottom: 2vh;
}